# æœ¬ã‚³ãƒ¼ãƒ‰ã«ã¤ã„ã¦
[pandas](https://github.com/pandas-dev/pandas)ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ä½¿ã£ã¦ãƒ¦ãƒ¼ã‚¶ä¸€è¦§ã€ãƒ¦ãƒ¼ã‚¶æ“ä½œä¸€è¦§ã€ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ä¸€è¦§ã‚’é›†è¨ˆã™ã‚‹ã‚µãƒ³ãƒ—ãƒ«

å¹¾ã¤ã‹ã®ä¾‹ã‚’è¸ã¾ãˆã¤ã¤ã€ãƒ¦ãƒ¼ã‚¶ã”ã¨ã®æ´»å‹•åº¦(actions.point + reactions.reward)ã®ãƒ©ãƒ³ã‚­ãƒ³ã‚°ã‚’å‡ºã™ã“ã¨ã‚’ç›®æ¨™ã¨ã™ã‚‹

## ãƒ‡ãƒ¼ã‚¿ã®é–¢ä¿‚
```
< users > (è¦ª)
| --- < actions > (å­) 
  | --- < reactions > (å­«)
```

## ãƒ‡ãƒ¼ã‚¿æ§‹é€ 
- users.csv: ãƒ¦ãƒ¼ã‚¶ä¸€è¦§
  - id: ãƒ¦ãƒ¼ã‚¶IDã€‚å¸¸ã«ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªæ–‡å­—åˆ—
  - name: ãƒ¦ãƒ¼ã‚¶å
  - email: ãƒ¦ãƒ¼ã‚¶ã®emailã‚¢ãƒ‰ãƒ¬ã‚¹
  - type: ãƒ¦ãƒ¼ã‚¶ã®ç¨®é¡ã€‚personalã¯å€‹äººã§ã€enterpriseã¯å–¶åˆ©å›£ä½“ã¨ã—ã¦ã„ã‚‹
  - leaved: é€€ä¼šæ¸ˆã¿ã‹ã©ã†ã‹
- actions.csv: ãƒ¦ãƒ¼ã‚¶æ“ä½œä¸€è¦§
  - id: ã‚¢ã‚¯ã‚·ãƒ§ãƒ³IDã€‚å¸¸ã«ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªæ–‡å­—åˆ—
  - user_id: ãƒ¦ãƒ¼ã‚¶æ“ä½œã‚’ã—ãŸãƒ¦ãƒ¼ã‚¶ã®ID
  - date: æ“ä½œæ—¥æ™‚ â€»
  - message: æ“ä½œã«é–¢ã™ã‚‹ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸
  - point: æ“ä½œã«ã‚ˆã‚Šå¾—ã‚‰ã‚ŒãŸãƒã‚¤ãƒ³ãƒˆã€‚æ•´æ•°å€¤ or æ¬ æå€¤
- reactions.csv: ãƒ¦ãƒ¼ã‚¶æ“ä½œã«å¯¾ã™ã‚‹ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ä¸€è¦§
  - id: ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ID
  - action_id: ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³å¯¾è±¡ã®ã‚¢ã‚¯ã‚·ãƒ§ãƒ³ID
  - user_id: ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³å…ƒã®ãƒ¦ãƒ¼ã‚¶ID
  - date: ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³æ—¥æ™‚ â€»
  - type: ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ã®ç¨®é¡
  - reward: ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ã«ã‚ˆã‚‹å—ã‘å–ã‚Šãƒã‚¤ãƒ³ãƒˆ
  
â€» ã„ãšã‚Œã‚‚ISO8601ãƒ•ã‚©ãƒ¼ãƒãƒƒãƒˆã®æ–‡å­—åˆ—ã¨ã™ã‚‹

In [1]:
import numpy as np
import pandas as pd

# ãƒ¦ãƒ¼ã‚¶ãƒ‡ãƒ¼ã‚¿ã®è§£æ

In [2]:
df_users = pd.read_csv("users.csv")
df_users

           id   name                  email        type  leaved
0  BcHgeZkTsc    ã‚¢ãƒªã‚¹  hoge@hoge.example.com    personal   False
1  KHPiabVr3o     ãƒœãƒ–          fuga@fuga.org    personal   False
2  AQA7LkexXv  ãƒãƒ£ãƒ¼ãƒªãƒ¼            foo@foo.net    personal    True
3  C82ZQKSQk7   ãƒ€ãƒ¼ãƒ“ãƒ¼            baz@baz.biz  enterprise   False
4  HzZow64HGH  ã‚¨ãƒªã‚¶ãƒ™ã‚¹           bar@bar.info  enterprise   False

## idã¨nameã‚’å–ã‚Šå‡ºã™
ä»¥ä¸‹ã®æ§˜ã«ã€listã§å¿…è¦ãªåˆ—ã‚’æŒ‡å®šã™ã‚‹ã‹ã€locã§ç¯„å›²æŒ‡å®šã™ã‚‹

- listã®å ´åˆã€åˆ—ãŒéš£ã‚Šåˆã£ã¦ãªãã¦ã‚‚ã‚ˆã„
- locã®å ´åˆã€iloc(indexã«ã‚ˆã‚‹ç¯„å›²æŒ‡å®š)ã¨ç•°ãªã‚Šçµ‚ç«¯ã‚‚å«ã‚€

In [3]:
print(df_users[["id", "name"]])
print(df_users.loc[:, :"name"])

           id   name
0  BcHgeZkTsc    ã‚¢ãƒªã‚¹
1  KHPiabVr3o     ãƒœãƒ–
2  AQA7LkexXv  ãƒãƒ£ãƒ¼ãƒªãƒ¼
3  C82ZQKSQk7   ãƒ€ãƒ¼ãƒ“ãƒ¼
4  HzZow64HGH  ã‚¨ãƒªã‚¶ãƒ™ã‚¹
           id   name
0  BcHgeZkTsc    ã‚¢ãƒªã‚¹
1  KHPiabVr3o     ãƒœãƒ–
2  AQA7LkexXv  ãƒãƒ£ãƒ¼ãƒªãƒ¼
3  C82ZQKSQk7   ãƒ€ãƒ¼ãƒ“ãƒ¼
4  HzZow64HGH  ã‚¨ãƒªã‚¶ãƒ™ã‚¹

## enterprise ãƒ¦ãƒ¼ã‚¶ or é€€ä¼šæ¸ˆã¿ãƒ¦ãƒ¼ã‚¶ã‚’å–ã‚Šå‡ºã™: queryç­‰
queryã®å ´åˆã€æ¡ä»¶ã‚’æ–‡å­—åˆ—ã§æ¸¡ã™

è¤‡æ•°æ¡ä»¶æŒ‡å®šæ™‚ã€ANDã¯"&"ã€ORã¯"|"ã§ã¤ãªã

æ¡ä»¶å¼ã¯å¿…ãš()ã§æ‹¬ã‚‰ãªã„ã¨æ„å›³ã—ãŸè©•ä¾¡é †ã«ãªã‚‰ãšã€`TypeError`ã¨ãªã‚‹

In [4]:
df_users.query('type == "enterprise" or leaved == True')

           id   name         email        type  leaved
2  AQA7LkexXv  ãƒãƒ£ãƒ¼ãƒªãƒ¼   foo@foo.net    personal    True
3  C82ZQKSQk7   ãƒ€ãƒ¼ãƒ“ãƒ¼   baz@baz.biz  enterprise   False
4  HzZow64HGH  ã‚¨ãƒªã‚¶ãƒ™ã‚¹  bar@bar.info  enterprise   False

In [5]:
df_users[
    (df_users.type == "enterprise")
    | (df_users.leaved) == True]

           id   name         email        type  leaved
2  AQA7LkexXv  ãƒãƒ£ãƒ¼ãƒªãƒ¼   foo@foo.net    personal    True
3  C82ZQKSQk7   ãƒ€ãƒ¼ãƒ“ãƒ¼   baz@baz.biz  enterprise   False
4  HzZow64HGH  ã‚¨ãƒªã‚¶ãƒ™ã‚¹  bar@bar.info  enterprise   False

## ãƒ¦ãƒ¼ã‚¶æ•°ã‚’å‡ºã™

### å…¨ãƒ¦ãƒ¼ã‚¶æ•°

In [6]:
len(df_users)

5

### leavedãŒFalseã§ã‚ã‚‹ãƒ¦ãƒ¼ã‚¶ã®æ•°(å…¥ä¼šãƒ¦ãƒ¼ã‚¶æ•°)

In [7]:
len(df_users[df_users.leaved == False])

4

### ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ãŒ"b"ã‹ã‚‰å§‹ã¾ã£ã¦ã„ã‚‹ãƒ¦ãƒ¼ã‚¶ã‚’å–ã‚Šã ã—: map, (apply)

ä»Šå›ã®ã‚±ãƒ¼ã‚¹ã§ã¯ã€df_usersã®emailã ã‘å‚ç…§ã™ã‚Œã°ã„ã„ã®ã§mapã‚’ä½¿ã†æ–¹æ³•ãŒæœ›ã¾ã—ã„(ã‚ˆã‚Šã‚¹ãƒ«ãƒ¼ãƒ—ãƒƒãƒˆãŒé«˜ãã€å¿…è¦ãªãƒ‡ãƒ¼ã‚¿ã®ã¿è§¦ã‚‹ãŸã‚)

åå¯¾ã«ã€å„è¡Œã®è¤‡æ•°ãƒ‘ãƒ©ãƒ¡ãƒ¼ã‚¿ã‚’å‚ç…§ã—ãŸã„å ´åˆã¯applyã‚’ä½¿ã†

In [8]:
serial_email_b_start = df_users.email.map(lambda e: e.startswith("b"))
print(len(df_users[serial_email_b_start]))

serial_email_b_start = df_users.apply(
    lambda row: row.email.startswith("b"), axis=1)
print(len(df_users[serial_email_b_start]))

2
2

## ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªãƒ¦ãƒ¼ã‚¶ã‚¿ã‚¤ãƒ—ã‚’ãƒªã‚¹ãƒˆã‚¢ãƒƒãƒ—ã—ã€ã‚«ã‚¦ãƒ³ãƒˆã‚¢ãƒƒãƒ—: drop_duplicates, to_list

In [9]:
user_types = df_users.type.drop_duplicates().to_list()
user_types

['personal', 'enterprise']

In [10]:
{
    user_type: len(df_users[df_users.type == user_type])
    for user_type in user_types
}

{'personal': 3, 'enterprise': 2}

# ãƒ¦ãƒ¼ã‚¶ã«ã‚ˆã‚‹æ“ä½œãƒ‡ãƒ¼ã‚¿ã®è§£æ

id="OoXNK4b3px"ã«ã¤ã„ã¦ã€actions.csvå†…ã§pointãŒç©ºãªã®ã§NaNã«ãªã‚‹

NaNã¯floatå‹ãªã®ã§ã€æš—é»™ã®å‹å¤‰æ›ã§pointã¯floatå‹ã«ãªã‚‹

In [11]:
df_actions = pd.read_csv("actions.csv")
df_actions

           id     user_id                       date      message  point
0  7GsubTX9n6  BcHgeZkTsc  2021-08-15T10:12:34+09:00    Hoge hoge    1.0
1  D76FJVQ2j2  KHPiabVr3o  2021-08-15T10:23:45+09:00  Lorem Ipsum   21.0
2  6znyhCukd6  HzZow64HGH  2021-08-15T11:54:32+09:00      ãƒ†ã‚¹ãƒˆã€€ãƒ†ã‚¹ãƒˆ    3.0
3  hSQszmDjlU  BcHgeZkTsc  2021-08-15T12:34:56+09:00    ãƒ†ã‚¹ãƒˆ\nãƒ†ã‚¹ãƒˆï¼’   42.0
4  CVqQD0xH2Y  HzZow64HGH  2021-08-15T14:36:52+09:00          ğŸ‘‘ğŸ‘‘ğŸ’¢   49.0
5  OoXNK4b3px  BcHgeZkTsc  2021-08-15T14:41:03+09:00            ğŸ”¡    NaN
6  veDQHBOXnG  BcHgeZkTsc  2021-08-15T14:52:12+09:00          foo    4.0

## æŠ•ç¨¿ãƒ‡ãƒ¼ã‚¿ã‚’user_idæ˜‡é †â†’pointé™é †ã«ã™ã‚‹: sort_values

å¼•æ•°ã§æ¸¡ã™ãƒªã‚¹ãƒˆã®å„ã‚¢ã‚¤ãƒ†ãƒ ã®é †ç•ªãŒãã‚Œãã‚Œå¯¾å¿œã™ã‚‹(ä»¥ä¸‹ä¾‹ã§ã‚ã‚Œã°ã€user_idãŒascending=True, pointãŒascending=False)

reset_indexã™ã‚‹ã“ã¨ã«ã‚ˆã‚Šã€indexã‚’0ã‹ã‚‰æŒ¯ã‚Šç›´ã—ã¦ã„ã‚‹(drop=Trueã«ã‚ˆã‚Šã€resetå‰ã®indexãŒåˆ—ã«è¿½åŠ ã•ã‚Œãªã„ã‚ˆã†ã«ã—ã¦ã„ã‚‹)

In [12]:
df_actions \
    .sort_values(["user_id", "point"], ascending=[True, False]) \
    .reset_index(drop=True)

           id     user_id                       date      message  point
0  hSQszmDjlU  BcHgeZkTsc  2021-08-15T12:34:56+09:00    ãƒ†ã‚¹ãƒˆ\nãƒ†ã‚¹ãƒˆï¼’   42.0
1  veDQHBOXnG  BcHgeZkTsc  2021-08-15T14:52:12+09:00          foo    4.0
2  7GsubTX9n6  BcHgeZkTsc  2021-08-15T10:12:34+09:00    Hoge hoge    1.0
3  OoXNK4b3px  BcHgeZkTsc  2021-08-15T14:41:03+09:00            ğŸ”¡    NaN
4  CVqQD0xH2Y  HzZow64HGH  2021-08-15T14:36:52+09:00          ğŸ‘‘ğŸ‘‘ğŸ’¢   49.0
5  6znyhCukd6  HzZow64HGH  2021-08-15T11:54:32+09:00      ãƒ†ã‚¹ãƒˆã€€ãƒ†ã‚¹ãƒˆ    3.0
6  D76FJVQ2j2  KHPiabVr3o  2021-08-15T10:23:45+09:00  Lorem Ipsum   21.0

## pointã®å€¤ãªã—(NaN)ã‚’0åŸ‹ã‚ã—ã€intå‹ã«ã™ã‚‹: fillna, astype
Pythonã®intå‹æŒ‡å®šæ™‚ã€[64bitã®ç¬¦å·ä»˜ãæ•´æ•°](https://numpy.org/doc/stable/reference/arrays.scalars.html#numpy.int_)ã«å¤‰æ›ã•ã‚Œã‚‹

In [13]:
df_actions.point = df_actions.point.fillna(0).astype(int)
df_actions[["id", "point"]]

           id  point
0  7GsubTX9n6      1
1  D76FJVQ2j2     21
2  6znyhCukd6      3
3  hSQszmDjlU     42
4  CVqQD0xH2Y     49
5  OoXNK4b3px      0
6  veDQHBOXnG      4

## ãƒ¦ãƒ¼ã‚¶ã”ã¨ã«pointã‚’åˆç®—: groupby

groupbyã®å¼•æ•°ã§æŒ‡å®šã—ãŸ"user_id"ã¯Indexã«å¤‰æ›ã•ã‚Œã‚‹

aggã«ã¦ã€ã©ã®ãƒ‘ãƒ©ãƒ¡ãƒ¼ã‚¿ã‚’ã©ã®é–¢æ•°ãƒ»å‡¦ç†ã§é›†è¨ˆã™ã‚‹ã‹ã‚’æŒ‡å®šã™ã‚‹(æŒ‡å®šã—ãªã„ãƒ‘ãƒ©ãƒ¡ãƒ¼ã‚¿ã¯å‡ºåŠ›ã•ã‚Œãªã„)

Indexã«å¤‰æ›ã—ãŸããªã„å ´åˆã€as_index=Falseã‚’æŒ‡å®šã™ã‚‹(å¾Œè¿°)

In [14]:
df_actions \
    .groupby(["user_id"]) \
    .agg({
        "point": sum,
    })

            point
user_id
BcHgeZkTsc     47
HzZow64HGH     52
KHPiabVr3o     21

## ãƒ¦ãƒ¼ã‚¶ã”ã¨ã®pointã®çµ±è¨ˆå€¤ã‚’å‡ºã™: groupby, describe

In [15]:
df_actions \
    .groupby(["user_id"]) \
    .agg({
        "point": "describe",
    })

           point
           count   mean        std   min    25%   50%   75%   max
user_id
BcHgeZkTsc   4.0  11.75  20.238165   0.0   0.75   2.5  13.5  42.0
HzZow64HGH   2.0  26.00  32.526912   3.0  14.50  26.0  37.5  49.0
KHPiabVr3o   1.0  21.00        NaN  21.0  21.00  21.0  21.0  21.0

## ãƒ¦ãƒ¼ã‚¶ã”ã¨ã«åˆã‚ã¦ã®actionå–ã‚Šå‡ºã—: groupby

In [16]:
function_name = "first"
df_actions \
    .groupby(["user_id"], as_index=False) \
    .agg({
        "date": function_name,
        "message": function_name,
        "point": function_name,
    })

      user_id                       date      message  point
0  BcHgeZkTsc  2021-08-15T10:12:34+09:00    Hoge hoge      1
1  HzZow64HGH  2021-08-15T11:54:32+09:00      ãƒ†ã‚¹ãƒˆã€€ãƒ†ã‚¹ãƒˆ      3
2  KHPiabVr3o  2021-08-15T10:23:45+09:00  Lorem Ipsum     21

## 10åˆ†ã”ã¨ã®pointå€¤ã®å°è¨ˆã‚’å‡ºåŠ›: to_datetime, resample
resample + sumã«ã‚ˆã‚Šã€10åˆ†ã”ã¨ã®åŒºé–“ã§pointã®å°è¨ˆã‚’å–ã‚‹ã€‚

-5Minã®offsetã‚’å…¥ã‚Œã‚‹ã“ã¨ã§ã€æœ€åˆactionæ—¥æ™‚=2021-08-15T10:12:34+09:00ã‚’å«ã‚€åŒºé–“ã¨ã—ã¦10:05(=10:10 - 0:05)ã‹ã‚‰é›†è¨ˆã—ã¦ã„ã

In [17]:
df_actions_date = df_actions.copy()
df_actions_date.index = pd.to_datetime(df_actions.date)
df_actions_date.resample("10Min", offset="-5Min").sum()

                           point
date
2021-08-15 10:05:00+09:00      1
2021-08-15 10:15:00+09:00     21
2021-08-15 10:25:00+09:00      0
2021-08-15 10:35:00+09:00      0
2021-08-15 10:45:00+09:00      0
2021-08-15 10:55:00+09:00      0
2021-08-15 11:05:00+09:00      0
2021-08-15 11:15:00+09:00      0
2021-08-15 11:25:00+09:00      0
2021-08-15 11:35:00+09:00      0
2021-08-15 11:45:00+09:00      3
2021-08-15 11:55:00+09:00      0
2021-08-15 12:05:00+09:00      0
2021-08-15 12:15:00+09:00      0
2021-08-15 12:25:00+09:00     42
2021-08-15 12:35:00+09:00      0
2021-08-15 12:45:00+09:00      0
2021-08-15 12:55:00+09:00      0
2021-08-15 13:05:00+09:00      0
2021-08-15 13:15:00+09:00      0
2021-08-15 13:25:00+09:00      0
2021-08-15 13:35:00+09:00      0
2021-08-15 13:45:00+09:00      0
2021-08-15 13:55:00+09:00      0
2021-08-15 14:05:00+09:00      0
2021-08-15 14:15:00+09:00      0
2021-08-15 14:25:00+09:00      0
2021-08-15 14:35:00+09:00     49
2021-08-15 14:45:00+09:00      4

## actionã«å¯¾ã™ã‚‹ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ãƒ‡ãƒ¼ã‚¿ã®è§£æ

In [18]:
df_reactions_1 = pd.read_csv("reactions_1.csv")
df_reactions_1

           id   action_id     user_id                       date  type  reward
0  ycV0zbqrL5  7GsubTX9n6  AQA7LkexXv  2021-08-15T11:52:12+09:00  like       1
1  NXXk7iEsMA  OoXNK4b3px  AQA7LkexXv  2021-08-15T13:09:31+09:00  like       1
2  Oq9i6DBTBp  OoXNK4b3px  AQA7LkexXv  2021-08-15T13:21:47+09:00  like       1

In [19]:
df_reactions_2 = pd.read_csv("reactions_2.csv")
df_reactions_2

,id,action_id,user_id,date,type,reward
0,jwUcUCuVEq,D76FJVQ2j2,BcHgeZkTsc,2021-08-15T16:21:48+09:00,comment,3

## 2ãƒ‡ãƒ¼ã‚¿ã‚’1ã¤ã®DataFrameã«çµåˆã™ã‚‹: concat

In [20]:
df_reactions = pd.concat([df_reactions_1, df_reactions_2])
df_reactions

,id,action_id,user_id,date,type,reward
0,ycV0zbqrL5,7GsubTX9n6,AQA7LkexXv,2021-08-15T11:52:12+09:00,like,1
1,NXXk7iEsMA,OoXNK4b3px,AQA7LkexXv,2021-08-15T13:09:31+09:00,like,1
2,Oq9i6DBTBp,OoXNK4b3px,AQA7LkexXv,2021-08-15T13:21:47+09:00,like,1
0,jwUcUCuVEq,D76FJVQ2j2,BcHgeZkTsc,2021-08-15T16:21:48+09:00,comment,3

# è¤‡æ•°ãƒ‡ãƒ¼ã‚¿ã‚’mergeã—ã¦è§£æã™ã‚‹

## action, reactionãƒ‡ãƒ¼ã‚¿ã‚’actionã®idã§å·¦çµåˆ: merge, (rename)

In [21]:
df_reactions_renamed = df_reactions.rename(columns={
    "id": "reaction_id", 
    "user_id": "reaction_user_id",
    "date": "reaction_date",
})
df_actions_renamed = df_actions.rename(columns={"id": "action_id"})

df_actions_merged = df_actions_renamed.merge(
    df_reactions_renamed, on=["action_id"], how="left")

df_actions_merged.reward = \
    df_actions_merged.reward.fillna(0).astype(int)
df_actions_merged

,action_id,user_id,date,message,point,reaction_id,reaction_user_id,reaction_date,type,reward
0,7GsubTX9n6,BcHgeZkTsc,2021-08-15T10:12:34+09:00,Hoge hoge,1,ycV0zbqrL5,AQA7LkexXv,2021-08-15T11:52:12+09:00,like,1
1,D76FJVQ2j2,KHPiabVr3o,2021-08-15T10:23:45+09:00,Lorem Ipsum,21,jwUcUCuVEq,BcHgeZkTsc,2021-08-15T16:21:48+09:00,comment,3
2,6znyhCukd6,HzZow64HGH,2021-08-15T11:54:32+09:00,ãƒ†ã‚¹ãƒˆã€€ãƒ†ã‚¹ãƒˆ,3,NaN,NaN,NaN,NaN,0
3,hSQszmDjlU,BcHgeZkTsc,2021-08-15T12:34:56+09:00,ãƒ†ã‚¹ãƒˆ\nãƒ†ã‚¹ãƒˆï¼’,42,NaN,NaN,NaN,NaN,0
4,CVqQD0xH2Y,HzZow64HGH,2021-08-15T14:36:52+09:00,ğŸ‘‘ğŸ‘‘ğŸ’¢,49,NaN,NaN,NaN,NaN,0
5,OoXNK4b3px,BcHgeZkTsc,2021-08-15T14:41:03+09:00,ğŸ”¡,0,NXXk7iEsMA,AQA7LkexXv,2021-08-15T13:09:31+09:00,like,1
6,OoXNK4b3px,BcHgeZkTsc,2021-08-15T14:41:03+09:00,ğŸ”¡,0,Oq9i6DBTBp,AQA7LkexXv,2021-08-15T13:21:47+09:00,like,1
7,veDQHBOXnG,BcHgeZkTsc,2021-08-15T14:52:12+09:00,foo,4,NaN,NaN,NaN,NaN,0

## ä¸Šè¨˜ãƒ‡ãƒ¼ã‚¿ã«ãƒ¦ãƒ¼ã‚¶åã‚’è¿½åŠ : merge
df_usersã«ã‚ã‚‹email, type, leavedã¯ä»¥å¾Œä½¿ã‚ãªã„

ãã®ãŸã‚ã€"id", "name"åˆ—ä»¥å¤–ã‚’dropã—ã¦ã„ã‚‹(ä¸‹è¨˜ã‚³ãƒ¼ãƒ‰ã®1è¡Œç›®)

df_actions_mergedã«ã‚ã‚‹user_idã®ã¿ã‚’mergeå¯¾è±¡ã«ã—ãŸã„ã®ã§ã€å·¦çµåˆ(df_actions_merged.user_idã‚’åŸºæº–ã«ãƒãƒ¼ã‚¸)ã™ã‚‹

In [22]:
df_users_dropped = df_users[["id", "name"]]
df_merged = df_actions_merged.merge(
    df_users_dropped.rename(columns={"id": "user_id"}),
    left_on=["user_id"],
    right_on=["user_id"],
    how="left")
df_merged

,action_id,user_id,date,message,point,reaction_id,reaction_user_id,reaction_date,type,reward,name
0,7GsubTX9n6,BcHgeZkTsc,2021-08-15T10:12:34+09:00,Hoge hoge,1,ycV0zbqrL5,AQA7LkexXv,2021-08-15T11:52:12+09:00,like,1,ã‚¢ãƒªã‚¹
1,D76FJVQ2j2,KHPiabVr3o,2021-08-15T10:23:45+09:00,Lorem Ipsum,21,jwUcUCuVEq,BcHgeZkTsc,2021-08-15T16:21:48+09:00,comment,3,ãƒœãƒ–
2,6znyhCukd6,HzZow64HGH,2021-08-15T11:54:32+09:00,ãƒ†ã‚¹ãƒˆã€€ãƒ†ã‚¹ãƒˆ,3,NaN,NaN,NaN,NaN,0,ã‚¨ãƒªã‚¶ãƒ™ã‚¹
3,hSQszmDjlU,BcHgeZkTsc,2021-08-15T12:34:56+09:00,ãƒ†ã‚¹ãƒˆ\nãƒ†ã‚¹ãƒˆï¼’,42,NaN,NaN,NaN,NaN,0,ã‚¢ãƒªã‚¹
4,CVqQD0xH2Y,HzZow64HGH,2021-08-15T14:36:52+09:00,ğŸ‘‘ğŸ‘‘ğŸ’¢,49,NaN,NaN,NaN,NaN,0,ã‚¨ãƒªã‚¶ãƒ™ã‚¹
5,OoXNK4b3px,BcHgeZkTsc,2021-08-15T14:41:03+09:00,ğŸ”¡,0,NXXk7iEsMA,AQA7LkexXv,2021-08-15T13:09:31+09:00,like,1,ã‚¢ãƒªã‚¹
6,OoXNK4b3px,BcHgeZkTsc,2021-08-15T14:41:03+09:00,ğŸ”¡,0,Oq9i6DBTBp,AQA7LkexXv,2021-08-15T13:21:47+09:00,like,1,ã‚¢ãƒªã‚¹
7,veDQHBOXnG,BcHgeZkTsc,2021-08-15T14:52:12+09:00,foo,4,NaN,NaN,NaN,NaN,0,ã‚¢ãƒªã‚¹

## ãƒ¦ãƒ¼ã‚¶ã”ã¨ã®æ´»å‹•é‡(point + reward)ã‚’è¨ˆç®—

rowã¯user_idã”ã¨ã®DataFrameãŒå…¥ã‚‹

ãã®ãŸã‚ã€row.point + row.rewardã¯Seriesã«ãªã‚‹ã€‚

- ã‚µãƒ³ãƒ—ãƒ«ã‚³ãƒ¼ãƒ‰
```python
df_merged \
    .groupby("user_id") \
    .apply(lambda row: row.point + row.reward)
```

- ã‚µãƒ³ãƒ—ãƒ«ã‚³ãƒ¼ãƒ‰ã®å®Ÿè¡Œçµæœ
```shell
user_id      
BcHgeZkTsc  0     2
            3    42
            5     1
            6     1
            7     4
HzZow64HGH  2     3
            4    49
KHPiabVr3o  1    24
dtype: int64
```

æœ¬ä¾‹ã§ã¯user_idã”ã¨ã®æ´»å‹•é‡ã‚’å‡ºã—ãŸã„ã®ã§ã€Seriesã‚’sumã™ã‚‹å¿…è¦ãŒã‚ã‚‹ã€‚

In [23]:
df_sum = df_merged \
    .groupby("user_id", as_index=False) \
    .apply(lambda row: sum(row.point + row.reward))
df_sum.columns = df_sum.columns.fillna('activity')
df_sum

      user_id  activity
0  BcHgeZkTsc        50
1  HzZow64HGH        52
2  KHPiabVr3o        24

## ãƒ¦ãƒ¼ã‚¶ã”ã¨ã«æ´»å‹•é‡ã®ãƒ©ãƒ³ã‚­ãƒ³ã‚°ã‚’å‡ºã™

In [24]:
df_ranking = df_sum \
    .merge(
        df_users_dropped.rename(columns={"id": "user_id"}),
        on="user_id",
        how="left"
    ) \
    .sort_values(["activity"], ascending=False) \
    .reset_index(drop=True)
df_ranking

      user_id  activity   name
0  HzZow64HGH        52  ã‚¨ãƒªã‚¶ãƒ™ã‚¹
1  BcHgeZkTsc        50    ã‚¢ãƒªã‚¹
2  KHPiabVr3o        24     ãƒœãƒ–